body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: honeydew;
    font-family: Helvetica, Arial, sans-serif;
}

#first-line {
    text-align: center;
    font-size: 2.3em;
}

#main-doc {
    padding-top: 1.23em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

.main-section {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-radius: 1em;
    border-color: black;
    width: 14em;
}

#country-one {
    margin-left: 10em;
    background-image: url(../images/Mauritius.png);
    background-repeat: no-repeat;
    background-position: center;
}

#Mauritius {
    text-align: center;
    font-size: 1.2em;
    color: white;
}

#country-two {
    margin-left: 50em;
    position: absolute;
    top: 15px;
    right: 5px;
    background-image: url(../images/Seychelles.png);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    font-weight: 100;
}

#Seychelles {
    text-align: center;
    font-size: 1.2em;
}

#country-three {
    position: absolute;
    right: 20px;
    top: 500px;
    background-image: url(../images/algeria.png);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

#Algeria {
    text-align: center;
    font-size: 1.2em;
}

#country-four {
    position: absolute;
    top: 200px;
    right: 400px;
    background-image: url(../images/Tunisia.png);
    background-repeat: no-repeat;
    font-weight: 100;
}

#Tunisia {
    text-align: center;
    font-size: 1.2em;
    color: white;
}

#Tunisia-capital {
    color: black;
    font-weight: 100;
}

#country-five {
    position: absolute;
    left: 150px;
    bottom: -477px;
    background-image: url(../images/botswana.png);
    background-repeat: no-repeat;
    background-position: center;
}

#Botswana {
    text-align: center;
    font-size: 1.2em;
    color: white;
}